#include <winver.h>
#include "../../src/version.h"

IDI_ICON1 ICON DISCARDABLE "QGPG.ico"

VS_VERSION_INFO    VERSIONINFO 
FILEVERSION        VER_MAJOR,VER_MINOR,VER_REVISION,VER_BUILD
PRODUCTVERSION     VER_MAJOR,VER_MINOR,VER_REVISION,VER_BUILD
FILEFLAGSMASK      VS_FFI_FILEFLAGSMASK 
FILEFLAGS          0x00000000L
FILEOS             VOS__WINDOWS32
FILETYPE           VFT_APP
FILESUBTYPE        VFT2_UNKNOWN
BEGIN
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0411, 1200
    END

    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      "Information Laboratory"
            VALUE "FileDescription",  "QGPG"
            VALUE "FileVersion",      VER_STRING
            VALUE "InternalName",     "QGPG\0"
            VALUE "LegalCopyright",   "Copyright (C) 2017 mugwort_rc\0"
            VALUE "OriginalFilename", "QGPG.exe\0"
            VALUE "ProductName",      "QGPG\0"
            VALUE "ProductVersion",   VER_STRING
        END 
    END
END
